#leaflet-compare {
    height: -1%;
    width: 49%;
    top: 16%;
    padding: 200px 70px;
    position: absolute;
    border-radius: 0.1%;
    padding-right: 200px;
    z-index: 0;
}
.column {
    float: left;
    width: 50%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #resolve1, #resolve2{
    
    position: relative;
    
    top: 230%;
    right: 85%;
    
    -webkit-transform: scale(2.5); /* Chrome, Safari, Opera */
    transform: scale(2.5);
 
    
 
  }
  .selectCompare{
    position: relative;
    top: 10px;
    font-size: .8em;
  }
  .resolvesection mark{
    background-color: #e2ab15;
  }
  #comparebuttons{
    display: inline-block;
  }
  #resolvesection1, #resolvesection2{
    position: relative;
    width: -moz-fit-content;
    display: inline-block;
    width: 80%;
    right: 0px;
    top: 430px;
    transition: all .3s ease-in;
   
  }
  #usercard2, #usercard1{
    font-size: .8em;
    display: inline-block;
    
  }
  .CompareBtn{
    background:#c57723cd;
    width:100px; 
    color:white;
    border-radius:20px;
    border: #80551d 2.5px solid;
    margin-top:20px;
    height:10px;
  
    text-align: center;
   
  
    font-weight:800;
    font-size:0.8em;
  }
  .CompareBtn:hover{
    background:#e2ab15; 
  }