#leaflet-compare {
    height: 30%;
    width: 80%;
    top: 10px;
    padding: 300px 100px;
    position: relative;
    border-radius: 0.1%;
    padding-right: 200px;
    z-index: 0;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #resolve1, #resolve2{
    
    position: relative;
    
    bottom: 8%;
    right: 55%;
    
    -webkit-transform: scale(2.5); /* Chrome, Safari, Opera */
    transform: scale(2.5);
 
    
 
  }
  #comparebuttons{
    display: inline-block;
  }
  #resolvesection1, #resolvesection2{
    position: relative;
    width: -moz-fit-content;
    display: inline-block;
    width: 50%;
   
  }
  #usercard2, #usercard1{
    overflow: auto;
    display: inline-block;
    width: 100%;
  }