.createBox{
   
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.form-create{
 
    background:white;
    position: absolute;
    left: 10%;
    top: 25%;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    height: 500px;
    width: 600px;
    border: #2980b9 4px solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
   
  }
  
  .form-create input{
   
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    margin: 20px;
    padding: 8px;
    width:550px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    
    border-radius:4px;
    
  }
  .form-create #selection{
      display: block;
  }
  .form-create #selection1{
    display: block;
}
  .form-create button{
   
    background:#3498db;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;
    display: block;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  .form-create button:hover{ 
    background:#3594D2; 
    }

  
.form-create .createbtn{
    position:relative;
    top: 50px;
    
}