.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

  #myDropdown {
    position: relative;
    display: block;
    width:100%;
    top: 10%;
    display: inline-block;
 
  }
  
  .myDropdown input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    
    
  }
  
  .myDropdown input:focus {
    background: #dbdbdb;
  }
  
  
  



 

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    bottom: 300px;
    min-width: 100px;
    width: 0px;
    z-index: 1;
    transition: width 2s, height 4s;
  }
  

  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
 
#myDropdown.show{
    position: absolute;
    display: inline-block;
    width:100%;
    right: 0%;
}



#projectbuttonsection{
    position: relative;
    top: 20px;
}
#projectbuttonsection button{
    position: relative;
    top: 70px;
}
.login-form h3{
    display: block;
    margin-bottom: 20px;
}

#choosing_title span{
    margin: .5rem 3rem 2rem 3rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font: italic small-caps bold 16px/2 cursive;
    text-decoration: wavy;
    font-size: 22px;
}
#choosing_title span:hover{
    border-bottom: rgb(106, 73, 0) 3px solid;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
   
  
}
  .login-form{
    position: relative;
    background-color: rgba(209, 208, 205, 0.734);
    top: 400px;
    width:400px;
    
    margin: 0 auto 0 auto;
    
    height: 500px;
    padding: 20px;
    border: #605E5E 2px solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all 1s ease-in-out;
  }

  .login-form #forminput{
    display: inline;
    font-size: 1rem;
    height: 10px;
    padding: 1rem 1rem 1rem 0.5rem;
    margin: 0 2rem 1.5rem 0;
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font: italic normal bold 16px/2 cursive;
    
  }
  #selectBar{
    width: 100%;
    font: italic small-caps bold 20px/1 cursive;
    
  }
  


  .myDropdown p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
    
  }
  .myDropdown a{
    color:#f1c40f;
    background-color: white;
  }


  .dropdown-content i{
    float: left;
    position: relative;
    left: -10%;
    top: 25px;
  }

  /*    BUTTON SECTION  */ 
  
  
 div#wrapper{
 

  position: absolute;
  left: 50%;
  bottom:-60%;
  
 }
 button.learn-more{
    position: absolute;
    display: table;
    cursor: pointer;
    outline: none;
    border: 0;
    
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    bottom: 30%;

}
.button-css-3 a{
  color: #BFC0C0;
  text-decoration: none;
  top: 25%;
  letter-spacing: 1px;   
}
.button-css-3{
  font-family: 'Raleway', sans-serif;
  display:table-cell;
  height: 40px;
 
  width: 150px;
  border: 2px solid #e6d793;
  margin: 20px;
  background-color: #eee7b6;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}

#button-3 {
  position: relative;
  cursor: pointer;
  margin: 100px;
  left:-140px;
  
}

#button-3 a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #987516ad;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover a {
  color: #2D3142;
}
button#submission{
  right: 40%;
}
button#createproject{
 
  left:40%;
}

button.learn-more {
    font-weight: 200;
    color: #2f4a54;
    text-transform: uppercase;
    padding: 1.25em 1em;
    background: #e0fbf2;
    border: 1px solid #00423e;

    
    border-radius: 2em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   
}
button.learn-more::before {
    position: inherit;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    
    bottom: 0;
    background: #b6d0c7;
    border-radius: inherit;
    box-shadow: 0 0 0 2px, 0 0.625em 0 0;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    
}
button.learn-more:hover {
    background: #cbdcdf;
    transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
    box-shadow: 0 0 0 2px , 0 0.5em 0 0;
    transform: translate3d(0, 0.5em, -1em);
  
}
button.learn-more:active {
    background: #e9fffe;
    transform: translate(0em, 0.75em);
  
}
button.learn-more:active::before {
    box-shadow: 0 0 0 2px #85b1b0, 0 0 #e2ffff;
    transform: translate3d(0, 0, -1em);

}
div#wrapper{
  width: 1000%;
  margin: auto;
}

