* {
    box-sizing: border-box;
  }
  
  body {
    margin: auto;
    font-family: 'segoe ui';
  }
  #navigation-bar nav{
    background-color: #83aeb8;
  }
 
  #navigation-bar{
    top: 0px;
    z-index: 1000;
    position: fixed;
  }
  nav{
    background-color: #5d7d85;
  }
  nav *{
    transition: all .3 ease-in;
  }
  #navTitle{
    padding-left: 15px;
    transition: all .3s ease-in;
  }

  #navTitle:hover{
    color: white;
  }
  #menu-items li{
    transition: all .3s ease-in;
  }
  #menu-items li:hover{
    color: white;
  }
  .dropdown-menu{
    background-color: #c4d9de;
    transition: all 1s ease-in;
  }
