#tweet-card {
    border: 1px solid #cccccc;
    width: 564px;
  
    padding: 10px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    
  }